@use "variables" as *;

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color:$quinary;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }
}

button {
  font-size: 1.5rem;
  font-family: $silkscreen;
  background-color: $quinary;
  border: none;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  color: $secondary;

  &:hover {
    background-color: $secondary;
    color: $quinary;
  }

  &:focus {
    background-color: $secondary;
    color: $quinary;
  }
}


// .typerAnimation h2 {
//   overflow: hidden;
//   font-size: 2rem;
//   width: 0;
//   height: 50px;
//   background-color: black;
//   white-space: wrap;
//   animation: w 2s steps(8) forwards;
//   // z-index: 10;
// }

// @keyframes w {
//   0% {
//     width: 0;
//   }

//   100% {
//     width: 80vw;
//     height: 10vh;
//   }
// }

