@use "variables" as *;

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color:$quinary;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }
}

button {
  font-size: 2.5rem;
  font-family: $silkscreen;
  background-color: $quinary;
  border: none;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  color: $secondary;

  &:hover {
    background-color: $secondary;
    color: $quinary;
  }

  &:focus {
    background-color: $secondary;
    color: $quinary;
  }
}

