@use "variables" as *;

header {
  background: url("../assets/headerImg.jpeg") no-repeat top center/100vw; 
}

header .flexContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.headingContainer {
  padding: 5rem 0;
  position: relative;
  

  .typerAnimation{
    position:absolute;
    top:55%
  }

}
.startGameContainer{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

h1 {
  margin-bottom: 20rem;
}

h2 {
  background-color: $secondary;
  margin: 5rem 0 2rem 0;
  padding: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

