@use "variables" as *;

//question section
.question{
  display:none;
  margin-top: 2rem;
} //hide question section when page loads 



.question .flexContainer {
  //new change:
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  text-align: center;

  .formContainer {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

    form {
      width: 70%;
      margin-bottom: 1.5rem;


      fieldset {
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: $secondary;
        border: none;
        border-radius: 45px;
        padding: 20px;

        #creatureQuestion {
          width: 80%;
          text-align: center;
          border-radius: 30px;
          border: 2px solid $white;
          padding: 10px;
          appearance: none;
          // background: url(../assets/korok.gif) no-repeat;
          // background-size: 3.7rem;
          // background-position: 99% center;
          padding: 3%;
          color: $primary;
          margin-bottom: 1rem;
          


          &:hover,
          &:focus {
            border: 2px solid $primary;

          }
        }

      }

    }

  }


}

// showMe button style
.showMe {
  background-color: $quinary;
  color: $secondary;
  &:hover, 
  &:focus {
    background-color: $secondary;
    color: $quinary;
    border: 2px solid $quinary
  }
}


// .answer section styles

.answer{
  display:none;
}   //hide answer section when page loads 

.answer .flexContainer {
  display: flex;
  background-color: $secondary;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 25%;
  border: 5px solid $quinary;

  .name {
    font-size: 2.25rem;
    font-weight: bold;
  }
  h2 {
    margin: 2rem 1rem 1rem 1rem;
    background-color: inherit;
    font-family: $silkscreen;
  }
}


.answer .cardContainer {
  // background-color: $tertiary;
  margin: 0 auto;
  .imgContainer {
    overflow: hidden;
    padding: 1rem;
    max-width: 100vw;
    .img {
      width: 100%;
    }
    img {
      border: 5px solid #F3DEAA;
      border-radius: 50%;
    }
  }
    .cardContentContainer {
      color: $quinary;
      padding: 0 5rem 0 5rem;
      text-align: center;
      .location::before {
        // <i class="fa-solid fa-signs-post"></i>
      }
    }
}