@use "variables" as *;

// .question section
.question .flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .formContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    form {
      width: 70%;
      margin-bottom: 1.5rem;


      fieldset {
        display: flex;
        background-color: $quinary;
        border: none;
        border-radius: 45px;
        justify-content: center;
        padding: 20px;

        #creatureQuestion {
          width: 80%;
          text-align: center;
          border-radius: 30px;
          border: 2px solid $white;
          padding: 10px;
          appearance: none;
          background: url(../assets/korok.gif) no-repeat;
          background-size: 3.7rem;
          background-position: 96% center;
          padding: 3%;
          color: $primary;


          &:hover,
          &:focus {
            border: 2px solid $primary;

          }
        }

      }

    }

  }


}


// .answer section styles

.answer .flexContainer {
  display: flex;
  background-color: $secondary;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  h2 {
    margin: 2rem 1rem 1rem 1rem;
  }
}

.answer .cardContainer {
  background-color: $tertiary;
  margin: 0 auto;

  .imgContainer {
    overflow: hidden;
    padding: 1rem;
    max-width: 100vw;

    .img {
      width: 100%;
    }
  }

  .cardContentContainer {
    background-color: $quaternary;
    padding: 2rem;
    text-align: center;
  }
}