@use "variables" as *;







//TODO:
//-choose google fonts
//-link google fonts in html file
//-fill in font-family

// 20px
html {
  font-size: 125%;
}

body {
  // font-family: ;
  background-color: $primary;
  line-height: 2.5rem;
  font-size: $baseFontSize;
  color: $black;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
}

// heading family
h1 {
  // font-family: ;
  font-size: 4rem;
  line-height: 3.5rem;
}

h2,
h3 {
  // font-family: ;
  color: $quinary;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  line-height: 2rem;
  font-size: 2rem;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

button {
  font-size: 1.5rem;
  // font-family: ;
  background-color: $quaternary;
  border: none;
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  &:hover {
    background-color: $tertiary;
  }
  &:focus {
      background-color: $tertiary;
  }
}

