@use "variables" as *;


//TODO:
//-choose google fonts
//-link google fonts in html file
//-fill in font-family

// 20px
html {
  font-size: 125%;
}

body {
  // font-family: ;
  background-color: $primary;
  background-image: url("../assets/backgroundImageBlue.jpg");
  line-height: 2.5rem;
  font-size: $baseFontSize;
  color: $black;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
}

// heading family
h1 {
  font-family: $silkscreen;
  font-size: 4rem;
  line-height: 3.5rem;
}

h2,
h3 {
  font-family: $sourceCode;
  color: $quinary;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  line-height: 2rem;
  font-size: 1.75rem;
}

p {
  font-family: $silkscreen;
}